# Parts Demand Prediction Process v2.07

Requirements for this version
- Start making predictions at the nomen level instead of niin
- Make adjustment to criteria for choosing MA

In [2]:
%reset -f

In [3]:
%load_ext autotime

In [4]:
import pandas as pd
import numpy as np
import pyodbc
from math import sqrt
%matplotlib inline
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:100% !important; }</style>")) 
from functools import reduce
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 
warnings.filterwarnings("ignore", category=FutureWarning) 
pd.options.mode.chained_assignment = None  # default='warn'
import datetime
from itertools import combinations
from scipy.stats import normaltest,pearsonr,spearmanr
from sklearn import linear_model, model_selection
from sklearn.metrics import mean_squared_error, r2_score
from math import isnan
import statsmodels.api as sm

time: 11.8 s

# DATA PREP

In [5]:
#connect to OSMISAnalyticsTasks database
DB = pyodbc.connect(
    r'DRIVER={SQL SERVER NATIVE CLIENT 11.0};'
    r'SERVER=alexosmisa4dbp;'
    r'DATABASE=OsmisAnalyticsTasks;'
    r'Trusted_Connection=yes')

time: 330 ms

#### Select n Most Costly Parts (Price - Credit)*QTY

#this process was done separately a couple of months ago and is located in the file NiinList3000.csv. If needed, I can recreate the process

NiinList500 = pd.read_csv('NiinList500.csv')

#pull everything in SP for select NIINs
SP = pd.read_sql('SELECT * FROM Sp_WNM_WithoutConops',DB)

#Remove all leading zeros from niins
SP['nNIIN'] = pd.to_numeric(SP['NIIN'],errors='ignore')

SP = SP.merge(NiinList500,on='nNIIN',how='inner')

#### Select Specifc Parts

In [18]:
SP = pd.read_sql('SELECT * FROM Sp_WNM_WithoutConops',DB)

time: 17min 58s

In [19]:
SP['niin'] = pd.to_numeric(SP['NIIN'],errors='ignore')

time: 1min 15s

In [20]:
SP.head()

        NIIN   WIC    FY  QTR MACOM      QTY  WBS      niin
0  013194708  0027  1999    4    NG  0.28800  04A  13194708
1  010793105  0018  1996    4    FC  0.32951  02B  10793105
2  008536451  0027  1993    4    FC  0.59451  04A   8536451
3  001155006  1224  2016    4    P1  0.01508  14    1155006
4  011891832  0327  2010    1    AO  0.10139  01H  11891832

time: 19 ms

#### Get part nomen and price

In [11]:
#get part price, servcred, unsrvcred and nomen
amdf = pd.read_csv('AMDF_17_Q2.TXT')
amdf_short = amdf[['niin','nomen','fldprice','servcred','unsrvcred']]

S:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (8,10,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

time: 32.8 s

In [12]:
amdf_short.head()

       niin                  nomen  fldprice  servcred  unsrvcred
0  14166390  CONNECTOR,RECEPTACLE,     89.40       0.0        0.0
1  14166400        KEYTOP,KEYBOARD    183.28       0.0        0.0
2  14166402  FILTER,RADIO FREQUENC     77.93       0.0        0.0
3  14166406  SHIELDING GASKET,ELEC     27.32       0.0        0.0
4  14166408  SHIELDING GASKET,ELEC     34.15       0.0        0.0

time: 15 ms

In [27]:
SP = SP.merge(amdf_short,on='niin',how='inner')

time: 12min

In [28]:
SP.head()

,NIIN,WIC,FY,QTR,MACOM,QTY,WBS,niin,nomen,fldprice,servcred,unsrvcred
0,013194708,0027,1999,4,NG,0.28800,04A,13194708,"CABLE ASSEMBLY,RADIO",31.42,0.0,0.0
1,013194708,0313,2007,3,AR,0.04821,04A,13194708,"CABLE ASSEMBLY,RADIO",31.42,0.0,0.0
2,013194708,0272,2012,3,P1,0.01899,03E,13194708,"CABLE ASSEMBLY,RADIO",31.42,0.0,0.0
3,013194708,0688,2000,2,P8,0.49693,04A,13194708,"CABLE ASSEMBLY,RADIO",31.42,0.0,0.0
4,013194708,0686,1999,3,FC,0.12845,04A,13194708,"CABLE ASSEMBLY,RADIO",31.42,0.0,0.0

time: 34 ms

In [30]:
#SP = SP[SP.nomen=='BOOT,DUST AND MOISTUR']

time: 1min 1s

#### Figure out what systems the parts fit on

In [23]:
#pull in entire TU1 file 
TU1 = pd.read_sql('SELECT * FROM Tu1_PL_WNM_WithoutConops',DB) 
TU1.head()

,WIC,MDS,MDSNAME,SYSTEMTYPE,FY,ORG,ORGNAME_NAME,DENSITY,ACTIVITY,OPTEMPO
0,0004,AH-1F,COBRA,HOUR,1993,AR ...,USAR ...,48,2577,53.69
1,0004,AH-1F,COBRA,HOUR,1993,E1 ...,USAREUR ...,20,1936,96.80
2,0004,AH-1F,COBRA,HOUR,1993,X1 ...,USAMC ...,32,615,19.22
3,0004,AH-1F,COBRA,HOUR,1993,FC ...,FORSCOM ...,127,13064,102.87
4,0004,AH-1F,COBRA,HOUR,1993,P1 ...,USARPAC ...,36,4558,126.61

time: 2.12 s

In [35]:
#inner join TU1 and SP on WIC and FY
SP_TU1 = TU1.merge(SP,left_on=['FY','WIC'], right_on=['FY','WIC'],how='inner')

time: 1.4 s

In [36]:
SP_TU1.head()

,WIC,MDS,MDSNAME,SYSTEMTYPE,FY,ORG,ORGNAME_NAME,DENSITY,ACTIVITY,OPTEMPO,NIIN,QTR,MACOM,QTY,WBS,niin,nomen,fldprice,servcred,unsrvcred
0,0004,AH-1F,COBRA,HOUR,1993,AR ...,USAR ...,48,2577,53.69,008929026,1,P1,33.37143,06A,8929026,"BOOT,DUST AND MOISTUR",2.50,0.0,0.0
1,0004,AH-1F,COBRA,HOUR,1993,AR ...,USAR ...,48,2577,53.69,004749686,4,TC,2.00000,01A,4749686,"BOOT,DUST AND MOISTUR",65.16,0.0,0.0
2,0004,AH-1F,COBRA,HOUR,1993,AR ...,USAR ...,48,2577,53.69,004749686,2,FC,4.00000,01A,4749686,"BOOT,DUST AND MOISTUR",65.16,0.0,0.0
3,0004,AH-1F,COBRA,HOUR,1993,AR ...,USAR ...,48,2577,53.69,004749686,2,TC,3.00000,01A,4749686,"BOOT,DUST AND MOISTUR",65.16,0.0,0.0
4,0004,AH-1F,COBRA,HOUR,1993,AR ...,USAR ...,48,2577,53.69,004749686,1,NG,1.94118,01A,4749686,"BOOT,DUST AND MOISTUR",65.16,0.0,0.0

time: 36 ms

In [48]:
#group to summarize by niin, wic and year
Predictions = pd.DataFrame(SP_TU1.groupby(['NIIN','WIC','MACOM','FY','SYSTEMTYPE'],as_index=False).sum()).set_index(['NIIN','WIC','MACOM'],drop=False)

time: 761 ms

In [49]:
Predictions.head()

                           NIIN   WIC MACOM    FY SYSTEMTYPE  DENSITY  \
NIIN      WIC  MACOM
000077578 0056 E1     000077578  0056    E1  2000       HOUR       42
               TC     000077578  0056    TC  2005       HOUR       32
               TC     000077578  0056    TC  2011       HOUR       19
          0244 FC     000077578  0244    FC  2003     SYSTEM       22
               TC     000077578  0244    TC  2005     SYSTEM       13

                      ACTIVITY  OPTEMPO  QTR       QTY    niin  fldprice  \
NIIN      WIC  MACOM
000077578 0056 E1            0     0.00   20   3.04350  387890     73.30
               TC        11315  1328.23   16  25.45456  310312     58.64
               TC         8979   811.59    8   2.00000  155156     29.32
          0244 FC            0     0.00   28  24.00000  620624    117.28
               TC            0     0.00   12   2.04546  232734     43.98

                      servcred  unsrvcred
NIIN      WIC  MACOM
000077578 0056 E1          0.0        0.0
               TC          0.0        0.0
               TC          0.0        0.0
          0244 FC          0.0        0.0
               TC          0.0        0.0

time: 33 ms

#### Get cost factor basis

In [ ]:
#connect to OSMISValidation database
DB = pyodbc.connect(
    r'DRIVER={SQL SERVER NATIVE CLIENT 11.0};'
    r'SERVER=alexosmisa4dbp;'
    r'DATABASE=OsmisValidation;'
    r'Trusted_Connection=yes')

#### Define some functions

In [51]:
# ATR: Activity Per Part (Activity Til Replacement)
def ATR(df):
    return (df['ACTIVITY']/df['DENSITY'])/(df['QTY']/df['DENSITY'])

#PPS: Parts Per System
def PPS(df):
    return df['QTY'] / df['DENSITY']

#PPO: Parts Per Activity Per System (Parts/Optempo)
def PPO(df):
    return df['QTY']/df['OPTEMPO'].replace({ 0 : np.nan })

time: 3 ms

In [52]:
def perc_rmse(predicted,actual):
    error = (predicted-actual)**2
    rmse = np.sqrt(error.sum()/error.count())
    per_rmse_pred_ma = rmse/(actual.sum()/actual.count())
    return per_rmse_pred_ma

time: 3 ms

### Prep Predictions file

In [53]:
Predictions = Predictions.drop(labels=['OPTEMPO','QTR'],axis=1,errors='ignore')

time: 9 ms

In [54]:
Predictions = Predictions.set_index(['NIIN','WIC','MACOM'],drop=False)

time: 22 ms

In [55]:
columnsToAdd = pd.DataFrame(columns=['key','OPTEMPO','ATR','PPS','PPO','maPred','lrPred'])

time: 11 ms

In [56]:
Predictions = pd.concat([Predictions,columnsToAdd])

time: 540 ms

In [143]:
#Predictions.NIIN = Predictions.NIIN.astype('int')
#Predictions.WIC = Predictions.WIC.astype('int')
Predictions.FY = Predictions.FY.astype('int')
Predictions.niin = Predictions.niin.astype('int')

time: 10 ms

In [144]:
#calculate OPTEMPO, ATR, PPS, PPO
Predictions['OPTEMPO'] = Predictions.ACTIVITY/Predictions.DENSITY
Predictions['ATR'] = ATR(Predictions)
Predictions['PPS'] = PPS(Predictions)
Predictions['PPO'] = PPO(Predictions)

time: 12 ms

In [145]:
Predictions.head()

                      ACTIVITY          ATR  DENSITY    FY MACOM       NIIN  \
NIIN      WIC  MACOM
000077578 0056 E1          0.0     0.000000     42.0  2000    E1  000077578
               TC      11315.0   444.517603     32.0  2005    TC  000077578
               TC       8979.0  4489.500000     19.0  2011    TC  000077578
          0244 FC          0.0     0.000000     22.0  2003    FC  000077578
               TC          0.0     0.000000     13.0  2005    TC  000077578

                         OPTEMPO       PAS       PPS       QTY SYSTEMTYPE  \
NIIN      WIC  MACOM
000077578 0056 E1       0.000000       NaN  0.072464   3.04350       HOUR
               TC     353.593750  0.071988  0.795455  25.45456       HOUR
               TC     472.578947  0.004232  0.105263   2.00000       HOUR
          0244 FC       0.000000       NaN  1.090909  24.00000     SYSTEM
               TC       0.000000       NaN  0.157343   2.04546     SYSTEM

                       WIC  fldprice  key lrPred maPred    niin  servcred  \
NIIN      WIC  MACOM
000077578 0056 E1     0056     73.30  NaN    NaN    NaN  387890       0.0
               TC     0056     58.64  NaN    NaN    NaN  310312       0.0
               TC     0056     29.32  NaN    NaN    NaN  155156       0.0
          0244 FC     0244    117.28  NaN    NaN    NaN  620624       0.0
               TC     0244     43.98  NaN    NaN    NaN  232734       0.0

                      unsrvcred
NIIN      WIC  MACOM
000077578 0056 E1           0.0
               TC           0.0
               TC           0.0
          0244 FC           0.0
               TC           0.0

time: 40 ms

#### Select variables to be used for regression

In [163]:
def correlationCheck(data):
    latestYear = data.FY.max()
    cf_basis = data.SYSTEMTYPE[data.FY==latestYear].unique()[0]
    
    if cf_basis == 'SYSTEM':
        varsUsed = [('DENSITY',)] #potentialVars (using all for now)
    else:
        varsUsed = [('ACTIVITY',),('DENSITY',),('OPTEMPO',)] #potentialVars 
        XXData = pd.DataFrame(data[['ACTIVITY','DENSITY']])
        xxCorr = spearmanr(XXData)
        if xxCorr.correlation < 0.70:
            varsUsed.append(('ACTIVITY','DENSITY'))
    
    #varsUsed = []
    #for var in potentialVars:
    #    XYData = pd.DataFrame(data[[var,'QTY']])
    #    xyCorr = spearmanr(XYData)
    #    if xyCorr.correlation > 0.70:
    #        varsUsed.append((var,))
    
    #if ('ACTIVITY',) in varsUsed and ('DENSITY',) in varsUsed:
    return varsUsed

time: 7 ms

In [164]:
varsForReg = Predictions.groupby(level=[0,1,2],sort=False).apply(lambda x: correlationCheck(x) if len(x)>=3 else None)

time: 16.4 s

In [165]:
varsForReg.head()

NIIN       WIC   MACOM
000077578  0056  E1               None
                 TC               None
           0244  FC               None
                 TC               None
           0298  E1       [(DENSITY,)]
dtype: object

time: 8 ms

In [166]:
bmColumns = ['key','NIIN','WIC','best_approach','r2_adj','per_rmse','intercept',
              'x1_name', 'x2_name', 'x1_coef',
              'x2_coef','reg_sig','MA_score','MA_type','MA_var','LKP','sampleSize', 'numPreds']

time: 108 ms

# MODEL DEVELOPMENT

In [167]:
start = datetime.datetime.now()

time: 49 ms

In [168]:
def makePredictions(section):  
    latestYear = section.FY.max()
    cf_basis = section.SYSTEMTYPE[section.FY==latestYear].unique()[0]
    
    predictions = {}
    best_LR = {}
    niin = section.NIIN.unique()[0]
    wic = section.WIC.unique()[0]
    macom = section.MACOM.unique()[0]
    sampleSize = len(section)
    bmColumns = ['key','NIIN','WIC',
                 'best_approach','r2Adj','% rmse','intercept'
                 'x1_name', 'x2_name', 'x1_coef',
                 'x2_coef','reg_sig','MA_type','MA_var','MA_score','LKP','sampleSize', 'numPreds'] 

    bestModel = pd.DataFrame(None,columns=bmColumns)
    bestModelRow = pd.DataFrame(None,columns=bmColumns)
    
    MA_Years = {}
    section['numYears']= sampleSize 
    MA_Years['3SMA_NP'] = sampleSize - 3
    MA_Years['4SMA_NP'] = sampleSize - 4
    MA_Years['5SMA_NP'] = sampleSize - 5
    MA_Years['EXMA_NP'] = sampleSize - 1

    #1) Regression for combinations of activity/density/optempo
    
    if sampleSize >= 3:
        equations = {}
        coefficients = {}
        intercepts = {}
        r2 = {}
        r2_adj = {}
        per_rmse = {}
        regSig = {}
        xVars = varsForReg.xs(key=(niin,wic,macom)) 
        yActual = section.QTY
        for vars in xVars:
            xVarData = section[[v for v in vars]]
            xVarData = sm.add_constant(xVarData)
            equations[vars] = sm.OLS(yActual,xVarData,hasconst=True).fit()
            predictions[vars] = equations[vars].predict()
            numVars = len(vars)
            coefficients[vars] = equations[vars].params
            regSig[vars] = equations[vars].f_pvalue
            r2_adj[vars] = equations[vars].rsquared_adj
            per_rmse[vars] = perc_rmse(predictions[vars],yActual)
            
            if r2_adj[vars] > 0.70 and per_rmse[vars] < 0.30:
                best_LR[vars] = len(vars)

        if len(best_LR) == 1:
            for key in best_LR:
                best_lr = next(iter(best_LR))
                
        highest_r2Adj = max(r2_adj,key=r2_adj.get) if len(r2_adj) >= 1 else 'NA'
        
        if len(best_LR) == 0:
            best_lr = highest_r2Adj

        if len(best_LR) > 1:
            simplestEquation = min(best_LR.values())
            best_LR = {k: best_LR[k] for k in best_LR if best_LR[k] == simplestEquation}
            best_lr = next(iter(best_LR))
        
        best_LR = best_lr
        section.lrPred = predictions[best_LR] if best_LR != 'NA' else 0

    #2) add in 2017 (we'll make a 2017 prediction for regresstion later)   
    
    Pred = pd.DataFrame(columns=section.columns.values)
    Pred.loc[0,'NIIN'] = section.NIIN.unique()[0]
    Pred.loc[0,'WIC'] = section.WIC.unique()[0]
    Pred.loc[0,'MACOM'] = section.MACOM.unique()[0]
    Pred.loc[0,'FY'] = 'Pred'

    Pred = Pred.set_index(['NIIN','WIC','MACOM'],drop=False)

    section = section.append(Pred)    
        
    #4) Make predictions for QTY, OPTEMPO, ATR, PPS, PPO
    
    MA_Results = {}
    MA_score = {}
    
    #QTY 
    predictions['QTY_3SMA'] = section['QTY'].rolling(3).mean().shift() #pd.rolling_mean(section['QTY'],window=3).shift()
    predictions['QTY_4SMA'] = section['QTY'].rolling(4).mean().shift() #pd.rolling_mean(section['QTY'],window=4).shift()
    predictions['QTY_5SMA'] = section['QTY'].rolling(5).mean().shift() #pd.rolling_mean(section['QTY'],window=5).shift()
    predictions['QTY_EXMA'] = section['QTY'].ewm(span=len(section['QTY']),ignore_na=True).mean().shift() #pd.ewma(section['QTY'],span=len(section['QTY'])).shift()
    MA_score['QTY_3SMA'] = perc_rmse(predictions['QTY_3SMA'],section['QTY'])/MA_Years['3SMA_NP']
    MA_score['QTY_4SMA'] = perc_rmse(predictions['QTY_4SMA'],section['QTY'])/MA_Years['4SMA_NP']
    MA_score['QTY_5SMA'] = perc_rmse(predictions['QTY_5SMA'],section['QTY'])/MA_Years['5SMA_NP']
    MA_score['QTY_EXMA'] = perc_rmse(predictions['QTY_EXMA'],section['QTY'])/MA_Years['EXMA_NP']
    
    #PPS 
    predictions['PPS_3SMA'] = section['PPS'].rolling(3).mean().shift() #pd.rolling_mean(section['PPS'],window=3).shift()
    predictions['PPS_4SMA'] = section['PPS'].rolling(4).mean().shift() #pd.rolling_mean(section['PPS'],window=4).shift()
    predictions['PPS_5SMA'] = section['PPS'].rolling(5).mean().shift() #pd.rolling_mean(section['PPS'],window=5).shift()
    predictions['PPS_EXMA'] = section['PPS'].ewm(span=len(section['PPS']),ignore_na=True).mean().shift() #pd.ewma(section['PPS'],span=len(section['PPS'])).shift()
    MA_score['PPS_3SMA'] = perc_rmse(predictions['PPS_3SMA'],section['PPS'])/MA_Years['3SMA_NP']
    MA_score['PPS_4SMA'] = perc_rmse(predictions['PPS_4SMA'],section['PPS'])/MA_Years['4SMA_NP']
    MA_score['PPS_5SMA'] = perc_rmse(predictions['PPS_5SMA'],section['PPS'])/MA_Years['5SMA_NP']
    MA_score['PPS_EXMA'] = perc_rmse(predictions['PPS_EXMA'],section['PPS'])/MA_Years['EXMA_NP']
    
    if cf_basis != 'SYSTEM':
        #ATR
        predictions['ATR_3SMA'] = section['ATR'].rolling(3).mean().shift() #pd.rolling_mean(section['ATR'],window=3).shift()
        predictions['ATR_4SMA'] = section['ATR'].rolling(4).mean().shift() #pd.rolling_mean(section['ATR'],window=4).shift()
        predictions['ATR_5SMA'] = section['ATR'].rolling(5).mean().shift() #pd.rolling_mean(section['ATR'],window=5).shift()
        predictions['ATR_EXMA'] = section['ATR'].ewm(span=len(section['ATR']),ignore_na=True).mean().shift() #pd.ewma(section['ATR'],span=len(section['ATR'])).shift()
        MA_score['ATR_3SMA'] = perc_rmse(predictions['ATR_3SMA'],section['ATR'])/MA_Years['3SMA_NP']
        MA_score['ATR_4SMA'] = perc_rmse(predictions['ATR_4SMA'],section['ATR'])/MA_Years['4SMA_NP']
        MA_score['ATR_5SMA'] = perc_rmse(predictions['ATR_5SMA'],section['ATR'])/MA_Years['5SMA_NP']
        MA_score['ATR_EXMA'] = perc_rmse(predictions['ATR_EXMA'],section['ATR'])/MA_Years['EXMA_NP']

        #PPO
        predictions['PPO_3SMA'] = section['PPO'].rolling(3).mean().shift() #pd.rolling_mean(section['PPO'],window=3).shift()
        predictions['PPO_4SMA'] = section['PPO'].rolling(4).mean().shift() #pd.rolling_mean(section['PPO'],window=4).shift()
        predictions['PPO_5SMA'] = section['PPO'].rolling(5).mean().shift() #pd.rolling_mean(section['PPO],window=5).shift()
        predictions['PPO_EXMA'] = section['PPO'].ewm(span=len(section['PPO']),ignore_na=True).mean().shift() #pd.ewma(section['PPO'],span=len(section['PPO'])).shift()
        MA_score['PPO_3SMA'] = perc_rmse(predictions['PPO_3SMA'],section['PPO'])/MA_Years['3SMA_NP']
        MA_score['PPO_4SMA'] = perc_rmse(predictions['PPO_4SMA'],section['PPO'])/MA_Years['4SMA_NP']
        MA_score['PPO_5SMA'] = perc_rmse(predictions['PPO_5SMA'],section['PPO'])/MA_Years['5SMA_NP']
        MA_score['PPO_EXMA'] = perc_rmse(predictions['PPO_EXMA'],section['PPO'])/MA_Years['EXMA_NP'] 

    MA_score = {k: MA_score[k] for k in MA_score if not isnan(MA_score[k])}
    
    #5) Get the last known point of the QTY
    LKP = section.QTY.iloc[sampleSize-1]
    
    #6) Choose the best for all types of predictions and store the info
    
    best_MA = min(MA_score,key=MA_score.get) if len(MA_score) >= 1 else 'NA'
    
    #7) Populate both files with information from models selected in step 5
    
    #Predictions file
    section.maPred = predictions[best_MA] if best_MA != 'NA' else 0
    
    #bestModel File
    row = bestModelRow.loc
    row[0,'NIIN'] = niin
    row[0,'WIC'] = wic
    row[0,'MACOM'] = macom
    row[0,'SYSTEMTYPE'] = cf_basis
    
    row[0,'MA_type'] = best_MA[4:]
    row[0,'MA_var'] = best_MA[:3]
    row[0,'MA_score'] = MA_score[best_MA] if best_MA != 'NA' else 'NA'   
    
    if sampleSize >= 3:
        row[0,'r2_adj'] = r2_adj[best_LR]
        row[0,'per_rmse'] = per_rmse[best_LR]
        row[0,'intercept'] = coefficients[best_LR][0]
        if coefficients[best_LR].index[0] != 'const':
            print(xVarData)
            section.to_csv('constProb.csv')
        row[0,'x1_name'] = coefficients[best_LR].index[1] 
        row[0,'x1_coef'] = coefficients[best_LR][1]
        if len(best_LR) > 2:
            row[0,'x2_name'] = coefficients[best_LR].index[2]
            row[0,'x2_coef'] = coefficients[best_LR][2]
        row[0,'reg_sig'] = regSig[best_LR]

    row[0,'sampleSize'] = sampleSize
    row[0,'LKP'] = LKP

    #Selecting the prefered approach
    if sampleSize >= 3 and row[0,'r2_adj'] > 0.70 and row[0,'per_rmse'] < 0.30: # choose regression if adj r2 is above .70 AND % rmse is below .30
        row[0,'best_approach'] = 'LR'
        row[0,'numPreds'] = len(section.lrPred)
        
    elif row[0,'MA_score'] != 'NA' and row[0,'MA_score'] < 0.10: # if it didn't choose regression, choose MA if the % rmse/pred is below 0.30
        row[0,'best_approach'] = 'MA'
        row[0,'numPreds'] = len(section.maPred)

    else:
        row[0,'best_approach'] = 'LKP'
        row[0,'numPreds'] = 1 
           
    #append that bm row to the mama df
    bestModel = bestModel.append(bestModelRow)
     
    results = [section,bestModel]
    return results

Predictions2 = Predictions.groupby(level=[0,1,2],sort=False).apply(lambda x: makePredictions(x))

time: 10min 46s

In [169]:
#Process output to csv files
PredictionsOutput = pd.DataFrame(None,columns=Predictions.columns.values)
bestModelOutput = pd.DataFrame(None,columns=bmColumns)

for result in Predictions2:
    PredictionsOutput = PredictionsOutput.append(result[0])
    bestModelOutput = bestModelOutput.append(result[1])

PredictionsOutput.key = PredictionsOutput.NIIN.astype(str)+'_'+PredictionsOutput.WIC.astype(str)+'_'+PredictionsOutput.MACOM
bestModelOutput.key = bestModelOutput.NIIN.astype(str)+'_'+bestModelOutput.WIC.astype(str)+'_'+bestModelOutput.MACOM
    
PredictionsOutput = PredictionsOutput[['key','NIIN','WIC','MACOM','FY','ACTIVITY','DENSITY','OPTEMPO',
                                       'ATR','PPS','PPO','QTY','lrPred','maPred']]  

bestModelOutput = bestModelOutput[['key','NIIN','WIC','MACOM','SYSTEMTYPE',
                                  'best_approach','r2_adj','per_rmse','intercept',
                                  'x1_name', 'x2_name', 'x1_coef','x2_coef','reg_sig',
                                  'MA_score','MA_type','MA_var','LKP','sampleSize', 'numPreds']]
                                 
PredictionsOutput.to_csv('Predictions071218.csv')
bestModelOutput.to_csv('bestModel071218.csv')

time: 6min 30s

In [170]:
end = datetime.datetime.now()
total_time = str(end-start)
print('TOTAL RUN TIME:', total_time)

TOTAL RUN TIME: 0:17:17.478419
time: 2 ms